<link rel="stylesheet" href="/css/index.css">
<div id="main">
  <H2>Давай ты пройдешь уже что-нибудь</H2>

  <div>
    <ul class="entry-links">
      <div class="entry-link"><a class="shine-button" href="/user/first">Первый</a></div>
      <p class="entry-link"><a class="shine-button" href="/user/second">Второй</a></p>
      <p class="entry-link"><a class="shine-button" href="/user/third">Третий</a></p>
    </ul>
  </div>
</div>
