{{!-- {{#each question }} --}}
<div>
  <form class="qestForm">
    <div class="qest">
      <input type="text" class="qestInput" id="qest" aria-describedby="emailHelp" value="{{question.question}}">
    </div>
    <div class="qest">
      <input type="text" class="qestInput" id="answer">
      <input type="hidden" value='{{question._id}}' name="questionId" />
    </div>
    <button id="buttonQest">NEXT</button>
  </form>
</div>
{{!-- {{/each}} --}}
