{{!-- {{#each question}} --}}
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Вопрос</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{question.question}}">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Введите ответ</label>
    <input type="text" class="form-control" id="exampleInputPassword1">
     <input type="hidden" value='{{question._id}}' name="questionId"/>
  </div>
</form>
{{!-- {{/each}} --}}
