* {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #ecc19c;
}

.qestForm {
  padding: 100px;
}

.qest {
  padding: 20px;
}

#qest {
  width: 500px;
  height: 100px;
  text-align: center;
}
#answer {
  width: 200px;
  height: 50px;
  text-align: center;
}

.qestForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* --------------кнопка--------- */
#buttonQest {
  text-decoration: none;
  display: inline-block;
  padding: 5px 5px;
  margin: 50px 20px;
  border: black;
  position: relative;
  overflow: hidden;
  border: 2px solid #1e847f;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #1e847f;
  transition: 0.2s ease-in-out;
}
#buttonQest:before {
  content: "";
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
#buttonQest:hover {
  background: #1e847f;
  color: #fff;
}
#buttonQest:hover:before {
  left: 150px;
  transition: 0.5s ease-in-out;
}
